$background-dark: #512DA8;


.navbar-dark {
    background-color:$background-dark;
}


.navbar-nav {
    
    .btn-primary {
        background-color: $background-dark;
        border-color: $background-dark;
    }
}